<!DOCTYPE html>
<html>
<head>
	<title>ZIP Code</title>

	<style>
		form {
			text-align: center;
			margin: 150px;
		}
		#submit_button{
			width: 10%;
			margin-left: 10px;
			margin: 10px;
			
		}
		#prompt{
			padding-top: 20px;
			margin-top: 40px;
			margin: 10px;
			font-size: 30px;


		}
	</style>
	
</head>
<body>
	
	<form  action="" method="POST">
		<p id = "prompt" ><b>Enter your zipcode</b></p><br>
		<p><input type="text" name="zipcode" required="required"></p>
		<input id= "submit_button" type="submit" name="check_status">
		<p>Note: Input a valid US ZIP Code</p>
	</form>
</body>
</html>